body{
    background-color: greenyellow;
}
h1{
    text-align: center;
    text-decoration-line: underline;
}
h2{
    margin: 20px;
}
p{
    margin-left: 20px;
    line-height: 30px;
}
img{
    height: 30rem;
    width: 30rem;
}
